<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .container {
        font-size: 26px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Passport Authentication</h1>
        <ul>
          <li>passport.js</li>
          <li>bcryptjs</li>
          <li>mongoose</li>
          <li>express</li>
          <li>express-session</li>
        </ul>
      </div>
      <div style="width: 11rem; display: flex; justify-content: space-between;">
        <a href="/users/login">Login</a>
        <a href="/users/register">Sign Up</a>
      </div>
    </div>
  </body>
</html>
